# Ignore everything
/*

!/.gitignore
!/AGENTS.md
!/flake.nix
!/flake.lock
!/configuration.nix
!/hardware-configurationn.nix
!/home.nix
!/images/
!/skills/

# dotfiles
!/dotfiles/

#scripts
!/scripts/
