* {
  font-family: monospace;
  font-size: 11px;
}

window#waybar {
  background: #1e1e2e;
  color: #cdd6f4;
}

#memory,
#battery,
#clock {
  padding: 0 5px;
}

#custom-recording {
  color: #f38ba8;
  font-size: 14px;
  padding: 0 5px;
}

#custom-touchpad-disabled {
  color: #fab387;
  padding: 0 5px;
}
