/*

!/.gitignore
!/macos-key
!/gpu-screen-recorder-toggle
!/gpu-screen-recorder-recent
!/ghostty-new-window
!/touchpad-toggle
!/anki-card.py
!/test-anki-card.py
!/kindle-mail.py
!/test-kindle-mail.py
